@import "colors";
@import "common";

.mdl-card-docker-container > .mdl-card__actions {
    display     : flex;
    box-sizing  : border-box;
    align-items : center;
}

.mdl-card-docker-container > .mdl-card__actions > .mdl-radio {
    padding-right : 10px;
    width         : auto;
    margin-top    : -25px;
}

.mdl-card-docker-container .mdl-card__title-text {
    color : @white;
}

.mdl-card__supporting-text {
    width : initial;
}

.mdl-card table {
    width : 100%;
}

.mdl-card th, .mdl-card td {
    text-align : center !important;
}
