<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfraJS</title>

    <link rel="stylesheet" href="../node_modules/material-design-lite/dist/material.blue-amber.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../styles/dist/projects.min.css">
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">InfraJS</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Projects</a>
                <a class="mdl-navigation__link" href="">Settings</a>
                <a class="mdl-navigation__link" href="">GitHub</a>
            </nav>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">InfraJS</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Projects</a>
            <a class="mdl-navigation__link" href="">Settings</a>
            <a class="mdl-navigation__link" href="">GitHub</a>
        </nav>
    </div>

    <main id="app" class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">

                <!-- Projects -->
                <div class="mdl-cell mdl-cell--4-col" v-for="project in projects">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text">{{ project.name }}</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            {{ project.description }}
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a @click="renderManageView(project.id)"
                               class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Manage</a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- FAB -->
            <button @click="renderCreateProjectView()" id="create-new-project-fab"
                    class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fixed-fab">
                <i class="material-icons">add</i>
            </button>
        </div>
    </main>
</div>

<script src="../node_modules/material-design-lite/material.min.js"></script>
<script src="../scripts/dist/projects.js"></script>
</body>

</html>
